<section class="hero is-link">
    <div class="hero-body">
        <p class="title">
            Lista de tus productos añadidos
        </p>
    </div>
</section>


<div class="container  mt-5">
    <div class="columns is-centered">
        <div class="column is-6-tablet is-6-desktop is-7-widescreen">
            <div class="card mt-2">
                <div class="card-content">
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <th>Código</th>
                                    <th>Nombre</th>
                                    <th>Valor</th>
                                    <th>Operaciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of products">
                                    <td> {{ item.code}}</td>
                                    <td> {{ item.name}}</td>
                                    <td> {{ item.value | currency :'$':'symbol':'1.0-2'}}</td>
                                    <td>
                                        <button class="button is-small is-danger" (click)="confirmDelete(item.id)">
                                            <span class="icon is-small">
                                                <i class="fas fa-trash"></i>
                                            </span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <ng-container *ngIf="products.length === 0">
                            <div class="columns  is-link is-full notification is-centered">
                                No hay productos añadidos
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>

        <div class="column is-6-tablet is-6-desktop is-5-widescreen">
            <div class="card mt-2">
                <div class="card-content">
                    <div class="content">
                        <h5 class="text-uppercase mb-4">Total a pagar</h5>
                        <hr class="m-0">
                        <ul class="list-unstyled mb-0">
                            <li class="">
                                <strong class="text-uppercase small font-weight-bold">Subtotal:</strong>
                                <span class="text-muted small"> {{total | currency :'$':'symbol':'1.0-2'}}</span>
                            </li>
                            <li class="">
                                <strong class="text-uppercase small font-weight-bold">Total:</strong>
                                <span>
                                    {{total | currency :'$':'symbol':'1.0-2'}}
                                </span>
                            </li>
                        </ul>
                        <div class="columns mt-4">
                            <button class="column button is-link p-0" [disabled]="total === 0">
                                Pagar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>