<section class="hero is-primary is-fullheight">
    <div class="hero-body">
        <p class="title">
            Inicio de
            <br>
            sesión
        </p>
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-9-tablet is-4-desktop is-6-widescreen">
                    <form [formGroup]="formLogin" class="box">
                        <div class="field">
                            <label for="" class="label">Email</label>
                            <div class="control has-icons-left">
                                <input type="email" placeholder="storeCP@gmail.com" class="input" required
                                    formControlName="email">
                                <span class="icon is-small is-left">
                                    <i class="fa fa-envelope"></i>
                                </span>
                            </div>
                            <p *ngIf="formLogin.get('email').errors?.required && formLogin.get('email').touched"
                                class="help is-danger">
                                Este campo es obligatorio
                            </p>
                        </div>
                        <div class="field">
                            <label for="" class="label">Password</label>
                            <div class="control has-icons-left">
                                <input type="password" placeholder="*******" class="input" required
                                    formControlName="password">
                                <span class="icon is-small is-left">
                                    <i class="fa fa-lock"></i>
                                </span>
                            </div>
                            <p *ngIf="formLogin.get('password').errors?.required && formLogin.get('password').touched"
                                class="help is-danger">
                                Este campo es obligatorio
                            </p>
                        </div>
                        <div class="field columns">
                            <div class="column is-12 has-text-right">
                                <button class="button is-success" [disabled]="formLogin.invalid || loading"
                                    (click)="login()">
                                    <span class="button is-success is-loading" *ngIf="loading"></span>
                                    Iniciar sesión
                                    <span class="spinner-border spinner-border-sm ml-2" role="status" aria-hidden="true"
                                        *ngIf="loading"></span>
                                </button>
                                <div>
                                   No tienes cuenta?, <a style="color: hsl(204, 86%, 53%);" [routerLink]="['/register']">registrate aquí</a>                                   
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>